/*app.css*/
.navegacao{

    background-color: rgb(50, 50, 75);
    color: black;
}

.rodape{

    background-color: rgb(50, 50, 75);
    color: rgb(250, 250, 250);
}
.link_iten{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}

.link_iten:hover{
 
    text-decoration: underline;
    color: aliceblue;
  
}
.t_image{
   
    width: 240px; 
    height: 230px;
}
.fx{
    position: relative;
bottom: 0px;
}
.bgg{
    background-color: rgb(117, 36, 36);
}
.bggg{
    background-color: rgb(253, 34, 34);
}
.carrocel{
   
    width: 600px; 
    height: 450px;
}
body{
    background-color: rgba(255, 255, 255, 0.549);
}