/*app.css*/
.navegacao{

    background-color: rgb(50, 50, 75);
    color: black;
}

.rodape{

    background-color: rgb(50, 50, 75);
    color: rgb(250, 250, 250);
}
.link_iten{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}

.link_iten:hover{
 
    text-decoration: underline;
    color: aliceblue;
  
}
.t_image{
   
    width: 240px; 
    height: 230px;
}
.fx{
    position: relative;
bottom: 0px;
}
.bgg{
    background-color: rgba(194, 193, 193, 0.556);
}
.bggg{
    background-color: rgb(253, 34, 34);
}
.carrocel{
   
    width: 500px; 
    height: 350px;
}
body{
    background-color: rgba(255, 255, 255, 0.549);
}
.t_image_admin{
   
    width: 225px; 
    height: 225px;
}
.t_image_admin_edit{
   
    width: 250px; 
    height: 250px;
}
.bg_carrosel{
  background-color: rgba(239, 255, 247, 0.522);
   color: rgb(15, 2, 2);
   
}