/*app.css*/
.navegacao{

    background-color: rgb(165, 165, 219);
    color: black;
}

.rodape{

    background-color: rgb(60, 60, 207);
    color: rgb(250, 250, 250);
}
.link_iten{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}

.link_iten:hover{
    text-decoration: underline;
    color: aliceblue;
  
}
